* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    user-select: none;
}

.main {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 300px;
    padding: 20px 10px;
    box-shadow: 2px 20px 50px 20px rgba(0, 0, 0, 0.20),
    inset -4px -8px 15px rgba(0, 0, 0, 0.20);
    background-color: rgba(95, 98, 107, 0.627);
    background: #e2e0df;
    border-radius: 15px
}

.display {
    position: relative;
    grid-column: span 4;
    height: 150px;
    width: 90%;
    border: none;
    outline: none;
    background: #e3e3e3;
    box-shadow: inset 8px 8px 100px #abadaf,
                    inset -10px -10px 8px #dbdee0;
    margin-bottom: 2px;
    border-radius: 10px;
    text-align: right;
    padding: 10px;
    font-size: 1.5em;
}

.display #result {
    font-size: 2em;
}

.buttons {
    margin-top: 20px;
    width: 100%
}

.buttons button {
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 10px;
    background: #e4eddc;
    border: none;
    outline: none;
    margin: 0 10px 5px;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: 500;
    transition: .1s;
    box-shadow: 5px 5px 8px #00000020,
    -5px -5px 8px #ffff;
}

.buttons button:hover {
    background: rgba(18, 16, 16, 0.1)
}

#equalTo {
    padding: 10px;
    margin: 0 10px;
    width: 125px;
    background: #58D68D
}

#equalTo:hover {
    background: rgba(13, 112, 8, 0.4);
}

#clear {
    background: #FF8A65;
    font-weight: 1000;
}

#clear:hover {
    background: rgba(138, 10, 10, 0.4)
}